.live-search {
	margin-top: 7rem;
	overflow: auto;
}
.live-search .loading{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.live-search .fa-spin {
	font-size: 50px;
}
.live-search .products .item {
	height: 545px;
}
.live-search ul {
	list-style-type: none;
	margin:0px;
	padding:0px;
}
.live-search ul li {
	cursor:pointer;
	padding:5px;
	margin:0px 5px;
	background-color:#FFF;
	min-height:40px;
	clear:both;
}
.live-search ul li:nth-child(even) {
	background-color: #FAFAFA;
}
.live-search ul li:hover {
	background-color:#F0F7FA;
}
.live-search ul li a{
	text-decoration: none;
	display:block;
}
.live-search ul li .product-image{
	float:left;
	margin-right:5px;
}
.live-search ul li .product-name p{
	font-weight: normal;
	font-style: italic;
	font-size: 10px;
	color:#555555;
	margin:0px;
	padding:0px;
}
.live-search ul li .product-name{
	font-weight: bold;
	float: left;
	width:50%;
}
.live-search ul li .product-price {
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	float:right;
	margin-top:10px;
	width:25%;
}
.live-search ul li .product-price .price{
	color: #333333;
	display:block;
}
.live-search ul li .product-price .special{
	color: #FF0000;
	text-decoration: line-through;
	display:block;
}

.live-search .product-price > .special {
	margin-top: -5px;
}

.live-search .result-text {
	text-align: center;
	margin-top: 4rem;
}

.live-search .result-text > a {
	color: #282828;
	height: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 1px solid #282828;
	display: inline-block;
	padding: 1rem;
	font-weight: 500;
	max-width: 375px;
	width: 100%;
	font-size: 11px;
	line-height: 1.9;
}

.live-search .result-text > a:hover {
	background-color: #282828;
	color: #fff;
}